:root {
  font-family: Robot, Inter, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.css-10hburv-MuiTypography-root{
  font-size: 2rem !important;
  font-weight: bold !important;
  color: rgb(248, 247, 255);
  text-transform: capitalize;
}

.css-d9ml5t-MuiDrawer-docked .MuiDrawer-paper {
  overflow: hidden;
  background-color: #003554;
}

.css-1r7kz78-MuiModal-root-MuiDrawer-root .MuiDrawer-paper{
  overflow: hidden;
  background-color: #003554;
}  
